*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header */

.header{
    background-color:#0A0A0A;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logoSmartik{
    margin-left: 20%;

}


.inform{
    color: #E9E9E9;
    font-size: 50px;
}


/* CONTENT */


.content{
    display: flex;
    justify-content: center;
    padding: 25px 0 25px 0;
    text-decoration: none;
    font-family: Arial;
    font-size: 26px;
    flex-wrap: wrap;
}
.conteiner{
    margin: 4px;
    padding: 4px;
    padding: 4px;
}



/* Footer */

#infoFooter{
    font-size: 42px;
    text-decoration: none;
    margin-left: -25px;

}
#infoTimeWork{
    font-size: 40px;
    text-decoration: none;
    margin-left: -25px;
    margin-top: 20px;

}
.footer{
    background-color:#0A0A0A;
    display: flex;
    justify-content: center;
    padding: 25px 0 80px 0;

}

.inform-footer {
    font-size: 26px;
    font-family: Arial;
    color: #E9E9E9;
}
.infoTimeWork{
    font-size: 26px;
    font-family: Arial;
    color: #E9E9E9;
}
.social-link {
    margin-left: 5px;
}
.Link{
    text-decoration: none;
    color: steelblue;


}
.link{
    margin-bottom: -5px;
}

.contact__map {
    height: 50vh;
    width: 100%;
}

@media (max-width: 543px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
    .smartikText{
        max-width: 90%;
        margin-left: 5%;
    }
    .mobileText{
        max-width: 90%;
        margin-left: 5%;
    }
    .logoSmartik{
        max-width: 80%;
        margin:  40px 0 0 10%;
    }
    .content{
        max-width: 90%;
        margin-left: 10%;
    }
    li{
        margin-top: 10px;
        font-family: Arial;
    }
    .inform-footer{
        max-width: 90%;
        margin-left: 7%;
        font-size: 20px;
    }
    #infoFooter{
        font-size: 32px;
        font-family: Arial;
    }
    #infoContent{
        font-size: 35px;
        font-family: Arial;
        margin-left: -7%;
    }

}