*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/* Header */

.header{
    background-color:black;
    display: flex;
    justify-content:center;
    align-items: center;
    }

.inform{
    color: #E9E9E9;
    font-size: 50px;
}


/* CONTENT */


.content{
    background-color: #0A0A0A;
    color: #E9E9E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    text-decoration: none;
    font-family: Arial;
    font-size: 26px;
    flex-wrap: wrap;
    width: 100%;
}
.item {
    flex-basis: 52%; /* Ширина елементу */
    padding-left: 42.5%;
    margin-bottom: 20px;
}
.contentText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 26px;
}



/* Footer */

#infoFooter{
    font-size: 42px;
    text-decoration: none;
    margin-left: -25px;

}
#magazins{
    font-size: 42px;
    text-decoration: none;
    margin-left: -25px;
    margin-top: 15px;

}
#infoTimeWork{
    font-size: 40px;
    text-decoration: none;
    margin-left: -25px;
    margin-top: 50px;

}
.footer{
    background-color:#0A0A0A;
    display: flex;
    justify-content: center;
    padding: 40px 0 60px 0;
    flex-wrap: wrap;

}

.inform-footer {
    font-size: 26px;
    font-family: Arial;
    align-items: center;
    color: #E9E9E9;
    width: 100%;
    margin-left: 38%;
}
.magazinsLinks{
    font-size: 26px;
    font-family: Arial;
    align-items: center;
    color: #E9E9E9;
    width: 100%;
    margin-left: 38%;
}
.infoTimeWork{
    font-size: 26px;
    font-family: Arial;
    color: #E9E9E9;
}
.social-link {
    margin-left: 5px;
}
.Link{
    text-decoration: none;
    color: steelblue;


}
.link{
    margin-bottom: -5px;
}

.contact__map {
    height: 50vh;
    width: 100%;
}

@media (max-width: 543px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
    .smartikText{
        max-width: 90%;
        
    }
    .mobileText{
        max-width: 90%;
    }
    .logoSmartik{
        max-width: 80%;
    }
    .content{
        max-width: 90%;
    }
    li{
        margin-top: 10px;
        font-family: Arial;
    }
    .inform-footer{
        max-width: 90%;
        font-size: 20px;
    }
    .magazinsLinks{
        max-width: 90%;
        margin-left: 0;
        font-size: 20px;
    }
    .infoTimeWork{
        max-width: 90%;
        font-size: 22px;

    }
    #infoContent{
         font-size: 35px;
         font-family: Arial;
         margin-left: -7%;
     }
    #infoFooter{
        font-size: 32px;
        font-family: Arial;
    }
    #magazins{
        font-size: 32px;
        font-family: Arial;
    }
    #infoTimeWork{
        font-size: 35px;
        font-family: Arial;
    }


}
.buttonLinks{
    text-decoration: none;
}