*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header */

.header{
    background-color:#0A0A0A;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logoSmartik{
    margin-left: 20%;

}


.inform{
    color: #E9E9E9;
    font-size: 50px;
}


/* CONTENT */


.content{
    display: flex;
    justify-content: center;
    padding: 25px 0 25px 0;
    text-decoration: none;
    font-family: Arial;
    font-size: 26px;
    flex-wrap: wrap;
}
.conteiner{
    margin: 4px;
    padding: 4px;
    padding: 4px;
}



/* Footer */

.footer{
 background-color:#0A0A0A;
 display: flex;
 justify-content: center;
 padding: 25px 0 25px 0;
 
}
#infoFooter{
    font-size: 42px;
    text-decoration: none;
    margin-left: -25px;

}

.inform-footer{
    font-size: 26px;
    font-family: Arial;
    color: #E9E9E9;


}
.social-link {
    margin-left: 5px;
}
.Link{
    text-decoration: none;
    color: steelblue;


}
.link{
    margin-bottom: -5px;
}

.contact__map {
    height: 50vh;
    width: 100%;
}
